.TodoItemWrap {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.TodoItem {
  display: flex;
  align-items: center;
  gap: 20px;
}
.TodoItem input {
  width: 20px;
}
.TodoItem .contents {
  flex: 1;
}
.TodoItem .date {
  font-size: 14px;
  color: gray;
}
.TodoItem button {
  cursor: pointer;
  color: gray;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
