@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf");
}
html,
body {
  margin: 0px;
  width: 100%;
  background-color: #f1f1f1;
}

#root {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0 20px;
  box-sizing: border-box;
}
body * {
  font-family: "NanumPenScript";
}
